@import 'base/mixin.scss';
@import 'base/variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@300;400;500&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

@import 'block/header';
@import 'block/info';
@import 'block/offer';
@import 'block/technologies';
@import 'block/save';
@import 'block/contact';
@import 'block/footer';
@import 'base/media';